<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Option</strong></th>
<th><strong>Questions</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>Abolish&nbsp;</td>
<td>Why does the function need to continue?

How does it contribute to the core business of the sponsor department?

How does this contribute to wider government policy objectives?

What if the function did not need to continue?

Is there a legal requirement for the function?

Is providing the function a justifiable use of taxpayers&rsquo; money?

What would be the cost and effects of not delivering the function?

Does the function contribute to economic growth?</td>
</tr>
<tr>
<td>Move out of central government</td>
<td>Why does central government need to deliver this function?

Can this function be delivered by local government, by the voluntary, or by the private sector?

Is there an existing service provider, or providers, in the local government or voluntary sectors that could deliver this function?

What are the risks and benefits of moving the function out of central government?

Could efficiencies be made by delivering the function through a different model?</td>
</tr>
<tr>
<td>Commercial models&nbsp;</td>
<td>Can the function be better delivered by the private sector, or delivered under contract by the voluntary or private sector?

Can the function be delivered by a mutual or social enterprise?

Is there an existing service provider, or providers, in the private sector that could deliver this function?

Could the public body increase its private sector revenues?

What are the risks and benefits of moving to a more commercial model?

Could efficiencies be made by delivery through a more commercial model?

Is the delivery of this service by the government having a negative impact on the market / has a market impact test been considered?</td>
</tr>
<tr>
<td>Bring in-house</td>
<td>Why does the function need to be delivered at arm&rsquo;s length from ministers?

Can the function be delivered more efficiently or effectively by the sponsoring department or by an existing executive agency of the sponsoring department, or by another department?

What would be the costs and benefits of bringing the function inhouse?

Could efficiencies be made by bringing the functions in-house?</td>
</tr>
<tr>
<td>Merge with another body</td>
<td>Are there any other areas of central government delivering similar or complementary functions?

Does the function duplicate work undertaken elsewhere?

Could the function be merged with those of another public body, or vice versa?

What would be the costs and benefits of a merger?

Could efficiencies be made by merging the body, or some of its functions, with another body or bodies?</td>
</tr>
<tr>
<td>Less formal structure</td>
<td>Why does the function need to be delivered through a formal structure?

Could the function be delivered by an informal stakeholder group?

Could the function be delivered by an expert committee?

What would be the costs and benefits of moving to a less formal structure?

Could efficiency be made by moving to a less formal structure?</td>
</tr>
</tbody>
</table>